// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import "~bootstrap/scss/functions";

// Variables
@import 'variables';

// admin-lte
@import '~admin-lte/build/scss/AdminLTE';

@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "icheck";

.btn {
    padding: 0.5rem 1rem !important;
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    letter-spacing: 0.1em !important;
    text-transform: uppercase !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 150ms !important;

    &:focus {
        outline: 0 !important;
    }
}
